
# PCR and PLS Regression

This lab on PCS and PLS is a python adaptation of p. 256-259 of "Introduction to Statistical Learning with Applications in R" by Gareth James, Daniela Witten, Trevor Hastie and Robert Tibshirani.
In this lab we implement many of the techniques discussed in this chapter.
We import some of our libraries at this top
level.

In [1]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import matplotlib.pyplot as plt
from statsmodels.api import OLS
import sklearn.model_selection as skm
import sklearn.linear_model as skl
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

We again collect the new imports
needed for this lab. Readers will also have to have installed `l0bnb` using `pip install l0bnb`.

In [2]:
from sklearn import model_selection
from sklearn.preprocessing import scale  
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.cross_decomposition import PLSRegression
from sklearn.pipeline import Pipeline

## Exercise 1 PCR on Advertising data

The Advertising data set consists of the sales of that product
in 200 different markets, along with advertising budgets for the product in
each of those markets for three different media: TV, radio , and newspaper .

In [3]:
Advertising = pd.read_csv('Advertising.csv')

In [4]:
Y = np.array(Advertising['sales'])
X = Advertising.drop(['sales'], axis=1).astype('float64')
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

1. Compute a PCR regression  with 2 components fitted on the train data

2. Predict on the test Data and compute de MSE.

3. Choose the number of components with cross validation on X_train

4. Compute the MSE on the test sample for the model which you have decided to keep. Justify your choice.

## Exercise 2 
We work on the College data set and we will predict the number of applications (varaible 'Apps4' received using the others quantitatives variables
1. Descrive brieflty the data.
2. Split the data set into a trainig set and a test set with eth ratio 0.7.
3. Fit a linear model on the training set, and report the test error obtained.
4. Fit a PCR model on the training set, with $M$ chosen by cross-validation. Report the test error obtained, along with the value of £M£ selected by cross-validation.
5. Fit a PLS model on the training set, with $M$ chosen by cross-validation. Report the test error obtained, along with the value of £M£ selected by cross-validation.
6. Comment on the results obtained. How accurately can we predict the number of college applications received? Is there much difference among the test errors resulting form these 3 approaches?

In [10]:
College = pd.read_csv('College.csv')
College

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99